antlrOut
target
*.prefs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
tests/dyck4/symmetricTesting/*
tests/slearith/validation
# Local History for Visual Studio Code
.history/
logs
out
.classpath
.antlr
scores.csv
test
GUI_TOKENS.out
grammars/loggedGrammars/
localiserDependJava/UUT*

